:root {
  --dark-blue: #202c39;
  --blue-green: #283845;
  --pale-bronze: #b8b08d;
  --gold: #F2D492;
  --copper: #F29559;
  --dark-copper: #c4740b;
  --whiteish: #EEF0EB;
  --font-tahoma: Tahoma, Verdana, Segoe, sans-serif;
  --font-didot: "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
}

.instrument-serif {
  font-weight: 400;
  font-family: "Instrument Serif", Baskerville, serif;
}

.instrument-serif.regular {
  font-style: normal;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lexend-deca.thin {
  font-weight: 100;
}

.lexend-deca.extralight {
  font-weight: 200;
}

hr {
  background-color: var(--copper);
}

a {
  color: var(--copper);
}

html {
  background-color: var(--dark-blue);
}

body {
  font-family: var(--font-tahoma);
  font-weight: 200;
}

header {
  color: var(--copper);
}

#header-title-subtitle {
  color: var(--pale-bronze);
}

section {
  color: var(--whiteish);
}

section h2 {
  color: var(--copper);
  font-family: "Instrument Serif", Baskerville, serif;
  font-weight: 400;
  font-style: normal;
}

#previous-roles {
  background-color: var(--blue-green);
}

.role {
  border-color: var(--dark-copper) !important;
}

.role h3 {
  color: var(--copper);
  font-weight: 300;
}

.role .role-metadata {
  color: var(--pale-bronze);
}

/* https://isotropic.co/tool/hex-color-to-css-filter/ */
.role .caret {
  filter: invert(61%) sepia(51%) saturate(505%) hue-rotate(339deg) brightness(98%) contrast(93%);
}

.toggle-roles-button {
  background-color: transparent;
  color: var(--copper);
  font-weight: 200;
}

#contact-form input,
#contact-form textarea {
  background-color: var(--blue-green);
  color: var(--whiteish);
  border: 2px solid var(--blue-green);
}

#contact-form input:focus,
#contact-form textarea:focus {
  border: 2px solid var(--copper);
}

#contact-form input[type="submit"] {
  background-color: var(--copper);
  color: var(--dark-blue);
}

#contact-form input[type="submit"]:hover {
  color: var(--whiteish);
}

footer {
  background-color: black;
}

footer .copyright {
  color: var(--whiteish);
}

@media (hover: hover) {
  .role:hover h3 {
    color: var(--whiteish)!important;
  }

  .role:hover .caret {
    filter: invert(97%) sepia(2%) saturate(422%) hue-rotate(52deg) brightness(103%) contrast(88%);
  }
}

@media (min-width: 768px) {
  section#previous-roles {
    background-color: var(--dark-blue);
  }

  a#contact-phone {
    font-size: min(2em, 3.4vw);
  }

  section#skills {
    background-color: var(--blue-green);
  }

  section#contact input[type="text"],
  section#contact input[type="email"],
  section#contact textarea {
    background-color: var(--blue-green);
  }
}
