:root {
  --font-didot: "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
}

a {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1em;
  font-size: 1.5em;
}

hr {
  height: 2px;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  min-height: 15vh;
  width: 100%;
  padding: 3em 0;
}

#header-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#header-title hr {
  height: 2px;
  width: 88%;
  margin: 0.7em auto 0.5em;
}

#header-title-name {
  font-size: 14vw;
}

#header-title-subtitle {
  font-size: 3.6vw;
  margin-top: 0.5em;
  letter-spacing: 0.15em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main img {
  width: 40%;
  border-radius: 50%;
}

#profile-image-contact {
  display: flex;
  flex-direction: column;
}

#profile-image {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#contact-link {
  margin-top: 0;
  width: 60vw;
  font-size: min(2em, 8vw);
}

section {
  padding: 0.5em 5vw;
  font-size: 1.1em;
  line-height: 1.5em;
}

section h2 {
  font-size: 2em;
}

section h3 {
  font-weight: 300;
  color: var(--copper);
}

.skills-list {
  margin-bottom: 2em;
}

.skills-list h3 {
  margin-bottom: 0.5em;
}

.skills-list ul {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.skills-list li {
  color: var(--pale-bronze);
  padding-right: 1em;
}

#previous-roles {
  padding-bottom: 0;
}

.role {
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
}

.role .role-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}

.role h3 {
  margin: 0;
}

.role .role-description {
  display: none;
}

.role.expanded .role-description {
  display: block;
}

.role .caret {
  background-image: url(/icons/caret.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
}

.role.expanded .caret {
  transform: rotate(180deg);
}

.role .role-metadata {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.role .role-period {
  font-size: 0.8em;
}

.toggle-roles-button {
  width: 100%;
  text-align: center;
  padding: 1.6em;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
}

#show-less-roles {
  display: none;
}

#additional-roles {
  display: none;
}

#additional-roles.show {
  display: block;
}

a#contact-phone {
  padding: 0.5em;
  font-size: min(2em, 9vw);
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 0.8em 0.5em;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

#contact-form input[type="submit"] {
  cursor: pointer;
}

footer {
  min-height: 14vh;
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

@media (max-width: 419px) {
  .role .role-metadata {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #header-title hr {
    width: 50%;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main img {
    width: 15em;
  }

  #header-title-name {
    font-size: 4em;
  }

  #header-title-subtitle {
    font-size: 1em;
  }

  #profile-image-contact {
    flex-direction: column;
    width: 40%;
    align-self: center;
    padding: 0 2em 0 3em;
  }

  #profile-image {
    width: 100%;
  }

  a#contact-link {
    width: 100%;
    font-size: 2em;
  }

  section {
    padding: 2em 2em;
    width: 80%;
    margin: 0 auto;
  }

  section#presentation {
    width: 60%;
    padding-bottom: 2em;
    padding-right: 3em;
  }

  section#skills {
    width: 100%;
    padding-left: 2em;
    padding-right: 1em;
  }

  #skills-lists {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-list {
      width: 50%;
  }

  .role .role-period {
    font-size: 1em;
  }

  a#contact-phone {
    font-size: min(2em, 3vw);
  }

  footer {
    height: 20vh;
  }
}

@media (min-width: 1024px) {
  section {
    width: 65%;
  }
}
